body
{
    background: linear-gradient(120deg,#3a3a3a,rgb(231, 231, 231));
}

form
{
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 2%;
font-weight: lighter;
color: aliceblue;
background-blend-mode: luminosity;
font-size: larger;
}

div
{
    padding: 1%;
    margin-bottom: 30px;
}

input
{
    border-radius: 6px;
    border-color: rgb(175, 173, 173);
    height: 30px;
    border-style: solid;
    border-width: 1px;
   margin-top: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   
  
}

label
{

margin: 0px;    
}
select
{
    height: 100px;
     padding: 5px; 
    border-radius: 6px;
    font-size: 15px;
    width: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus
{
   
    
    border-width: 2.5px;
    border-color: rgb(51, 211, 120);
}

button
{
    border-radius: 5px;
    border-style: solid;
    color: #ffffff;
    background-color: transparent;
    border-color: #448aff;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: all 0.8s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;    


}

label{
display: none;
}

button:hover
{
background-color:#448aff;
color: seashell;
border-color:#448aff;
animation-delay: 1s;
}

::placeholder
{

    color: rgba(112, 128, 144, 0.527);
}


#listargustos
{
    margin-top: 30px;
    background: linear-gradient(120deg,#0277bd,rgb(231, 231, 231));
    display: none;
    border-radius: 25px;
    border-style: inset;
    border-right: 0px;
    
}


#valor
{width: 600px;}

#color
{
    margin-left: 50px;
    width: 100px;
    height: 100px;
}


.middle
{
	position: relative;
	width: 50%;
	max-width: 500px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}

.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	border-radius: 5px;
	background-color: #81d4fa;
}

.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #e1f5fe;
}

.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color: #e1f5fe;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}

.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -20px);
}
.slider > .thumb.right 
{
	right: 25%;
	transform: translate(25px, -20px);
}


input[type=range] {
	pointer-events: none;
	-webkit-appearance: none;
	position: absolute;	
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

#input-left
{
	left: 3px;	
}

 #input-right
{
    right: 1px;;
} 

.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

#costo-minimo
{
	display: none;
}

#costo-maximo
{
	display: none;
}

